@charset "UTF-8";
/*!
 Theme Name:   Twenty Nineteen Child for ja
 Theme URI:    https://github.com/miminari/19childja
 Description:  Twenty Nineteen Child Theme for japanese
 Author:       mimi
 Author URI:   https://blog.photosynthesic.jp/
 Template:     twentynineteen
 Version:      0.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         japanese
*/

// ===== config =====
@import "config";

/* ==== base ===== */
/* ベースフォントサイズを変更 */
html {
    font-size: $base-font-size;
}
/* h1, h2のフォントファミリーを変更 */
h1:lang(ja),h2:lang(ja) {
    font-family: $serif-font-family;
}
/* リンクカラーをプライマリーカラーに変更 */
a {
    color: map-get($theme-colors, 'primary');
    &:visited {
        color: darken(map-get($theme-colors, 'primary'),10%);
    }
    &:hover {
        color: map-get($theme-colors, 'primary');
    }
    .widget & {
        color: map-get($theme-colors, 'primary');
    }
}
/* ボタンカラーをプライマリーカラーに変更 */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: map-get($theme-colors, 'primary');
}
/* 画像のオーバーカラーをプライマリーカラーに変更 */
.image-filters-enabled {
    .site-header.featured-image .site-featured-image,
    .entry .post-thumbnail {
        &:before,
        &:after {
            background: map-get($theme-colors, 'primary');
            opacity: 0.4;
        }
    }
}

/* ==== entry ===== */
@import "entry";

/*　エディターの文字色用及び背景用の色を設定 */
.entry .entry-content {
    @each $key, $color in $theme-colors {
        & .has-#{$key}-background-color {
            background-color: $color;
        }
        & .has-#{$key}-color {
            color: $color;
        }
    }
}