@charset "UTF-8";
/*!
 Theme Name:   Twenty Nineteen Child for ja
 Theme URI:    https://github.com/miminari/19childja
 Description:  Twenty Nineteen Child Theme for japanese
 Author:       mimi
 Author URI:   https://blog.photosynthesic.jp/
 Template:     twentynineteen
 Version:      0.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         japanese
*/
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:700|Noto+Serif+JP:400,700");
/* ==== base ===== */
/* ベースフォントサイズを変更 */
html {
    font-size: 16px;
}

/* h1, h2のフォントファミリーを変更 */
h1:lang(ja), h2:lang(ja) {
    font-family: "EB Garamond", "Noto Serif JP", serif;
}

/* リンクカラーをプライマリーカラーに変更 */
a {
    color: #CE2121;
}

a:visited {
    color: #a21a1a;
}

a:hover {
    color: #CE2121;
}

.widget a {
    color: #CE2121;
}

/* ボタンカラーをプライマリーカラーに変更 */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #CE2121;
}

/* 画像のオーバーカラーをプライマリーカラーに変更 */
.image-filters-enabled .site-header.featured-image .site-featured-image:before, .image-filters-enabled .site-header.featured-image .site-featured-image:after,
.image-filters-enabled .entry .post-thumbnail:before,
.image-filters-enabled .entry .post-thumbnail:after {
    background: #CE2121;
    opacity: 0.4;
}

/* タイトルのフォントサイズを調整 */
@media only screen and (min-width: 768px) {
    .entry .entry-title, .entry .not-found .page-title, .entry .error-404 .page-title, .entry .has-larger-font-size, .entry h2 {
        font-size: 32px;
    }
}

/*　エディターの文字色用及び背景用の色を設定 */
.entry .entry-content .has-primary-background-color {
    background-color: #CE2121;
}

.entry .entry-content .has-primary-color {
    color: #CE2121;
}

.entry .entry-content .has-secondary-background-color {
    background-color: #988768;
}

.entry .entry-content .has-secondary-color {
    color: #988768;
}

.entry .entry-content .has-background-background-color {
    background-color: #000;
}

.entry .entry-content .has-background-color {
    color: #000;
}
